node_modules/
imagelink.txt
coverage/
.DS_Store
client/src/components/__snapshots__
grunt-aws.json
.env
.DS_Store
package-lock.json
.dockerignore

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
